package ${packageName}.convert.${moduleName};

import java.util.List;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;
import ${packageName}.vo.${moduleName}.${ClassName}PageReqVO;
import ${packageName}.vo.${moduleName}.${ClassName}RespVO;
import ${packageName}.vo.${moduleName}.${ClassName}SaveReqVO;
import ${packageName}.dao.po.${moduleName}.${ClassName}PO;
#if($table.sub)
import ${packageName}.domain.${subClassName};
#end

/**
 * ${functionName} Convert
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${ClassName}Convert {
    ${ClassName}Convert INSTANCE = Mappers.getMapper(${ClassName}Convert.class);

    /**
     * PageReqVO 转换为 PO
     * @param ${className}PageReqVO 请求参数
     * @return ${ClassName}PO
     */
     ${ClassName}PO convertToPO(${ClassName}PageReqVO ${className}PageReqVO);

    /**
     * SaveReqVO 转换为 PO
     * @param ${className}SaveReqVO 保存请求参数
     * @return ${ClassName}PO
     */
     ${ClassName}PO convertToPO(${ClassName}SaveReqVO ${className}SaveReqVO);

    /**
     * PO 转换为 RespVO
     * @param ${className}PO 实体对象
     * @return ${ClassName}RespVO
     */
     ${ClassName}RespVO convertToRespVO(${ClassName}PO ${className}PO);

    /**
     * POList 转换为 RespVOList
     * @param ${className}POList 实体对象列表
     * @return List<${ClassName}RespVO>
     */
     List<${ClassName}RespVO> convertToRespVOList(List<${ClassName}PO> ${className}POList);
}
